@inherits LayoutComponentBase

<div class="page">
    @* collapseNavMenu 값에 따라 'collapse' 클래스를 붙였다 뗐다 함 *@
    <div class="sidebar @(collapseNavMenu ? "collapse" : "")">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* 사이드바를 접고 펴는 버튼 *@
            <button class="btn btn-link" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span> ☰
            </button>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}